@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(nprogress.css);
@import url(scrollbar.css);
@import url(animation.css);

@layer base {
  :root {
    --radius: 0.5rem;
  }

  h1 {
    @apply text-4xl py-5 font-bold;
  }
  h2 {
    @apply text-2xl py-2 font-semibold;
  }
  h3 {
    @apply text-xl py-1 font-medium;
  }
  p{
    @apply py-1;
  }

  * {
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
  }

  * {
    @apply border-divider min-w-0;
  }
}
